<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
        .selected{
            border-color: #41464b;
            color: #41464b;
            font-weight: bold;
        }
        .pagination{
            display: inline-block;
            width: 40px;
            font-size: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>회원 상세</h2>
    </div>
    <div>
        <p><h5 th:text="|회원명:${member.nickname}|">닉네임</h5></p>
    </div>
    <div class="row">
        <div class="col-2">
            <a href="" th:href="|@{/member/detail/{memberId}(memberId=${member.id})}|" th:text="작성글">작성글</a>
        </div>
        <div class="col-3">
            <a href="" th:href="|@{/member/detail/{memberId}(memberId=${member.id},replies=true)}|" th:text="|댓글단 글|">reply</a>
        </div>
    </div>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
        </tr> <!-- 가로줄 하나 -->
        </thead>
        <tbody>
        <tr th:if="${isGetReplies==null}" th:each="article : ${articles}">
            <td th:text="${article.id}"></td>
            <td><a href="hello.html" th:href="@{/article/detail/{articleId}(articleId=${article.id})}"
            th:text="|${article.title}[${article.replies.size()}]|">title</a></td>
            <td th:text="${member.nickname}"></td>
            <td th:text="${article.hit}"></td>
        </tr>
        <tr th:if="${isGetReplies!=null}" th:each="r_article : ${r_articles}">
            <td th:text="${r_article.id}"></td>
            <td><a href="hello.html" th:href="@{/article/detail/{articleId}(articleId=${r_article.id})}"
                   th:text="|${r_article.title}[${r_article.replies.size()}]|">title</a></td>
            <td th:text="${r_article.member.nickname}"></td>
            <td th:text="${r_article.hit}"></td>
        </tr>
        </tbody>
    </table>

    <a th:if="${startPage >= 10}" class="text-dark"
       th:href="@{/member/detail/{memberId}(memberId=${member.id},page=${startPage-1})}">◀이전</a>

    <!--    th:class="${errors?.containsKey('itemNameError')} ? 'form-control field-error' : 'form-control'"-->
    <div th:class="pagination" th:each="page : ${#numbers.sequence(startPage,endPage)}">
        <a th:class="${page == currentPage} ? 'selected' : 'text-dark'"
           th:href="@{/member/detail/{memberId}(memberId=${member.id},page=${page})}"
           th:text="|[${page+1}]|"></a>
    </div>

    <a class="text-dark" th:if="${hasNext}" th:href="@{/member/detail/{memberId}(memberId=${member.id},page=${endPage+1})}"
       th:text="|▶다음|">▶다음</a>
    <hr>

    <div class="g-lg-4">
        <button class="btn btn-primary float-end"
                th:onclick="|location.href='@{/}'|">목록으로</button>
    </div>
</div> <!-- /container -->
</body>
</html>
