<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
        .form-control{
            display: inline;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>게시물 등록</h2>
    </div>
    <form action="" th:action th:object="${article}" method="post", enctype="multipart/form-data">
        <div th:text="|작성자: *{member.nickname}|"/>
        <br>
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>
        <div>
            <select class="form-select" th:field="*{articleCategory}">
                <option value="">게시판 선택</option>
                <option th:each="articleCategory : *{articleCategories}" th:value="${articleCategory.name()}"
                        th:text="${articleCategory.getDescription()}">none</option>
            </select>
            <div class="field-error" th:errors="*{articleCategory}" style="font-size: 15px;"/>
        </div>
        <br>
        <div>
            <label for="title">*제목</label>
            <input type="text" id="title" th:field="*{title}"
                   th:errorclass="field-error" class="form-control" placeholder="제목을 입력하세요.">
            <div class="field-error" th:errors="*{title}" style="font-size: 15px;">
                제목 오류
            </div>
        </div>
        <div>
            <label for="body">*내용</label>
            <textarea type="textarea" id="body" th:field="*{body}"
                   class="form-control" placeholder="내용을 입력하세요."
                      th:errorclass="field-error" rows="5">&#10;</textarea>
            <div class="field-error" th:errors="*{body}" style="font-size: 15px;"/>
        </div>
        <br>
        <div>
            <lable for="file" style="font-size: 15px">(선택) 첨부 파일 또는 이미지 선택</lable>
            <input type="file" multiple="multiple" name="imageFiles">
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">작성</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>
</div>
</div> <!-- /container -->
</body>
</html>