<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
        .body{
            /* (각각 위 오른쪽 아래 왼쪽 - 시계방향) */
            padding: 10px 1px 100px 1px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>게시물 상세</h2>
    </div>
    <div>
        <p>작성자: <a href="" th:href="@{/member/detail/{memberId}(memberId=${article.member.id})}"
                   th:text="|${article.member.nickname}|">작성자</a></p>
        <input type="hidden" id="nickname" name="nickname" class="form-control" th:value="${article.member.nickname}" readonly>
    </div>
    <div>
        <label for="title" th:text="|제목|">제목</label>
        <input type="text" id="title" name="title" class="form-control form-control-sm" th:value="${article.title}" readonly>
    </div>
    <div>
        <label for="body" th:text="|내용|">내용</label>
        <input type="text" id="body" name="body" style="white-space:pre"
               class="form-control form-control-lg body" th:value="${article.body}"  readonly>
    </div>
    <br>
    <div>
        <img id="file" th:each="file : ${article.files}"
             th:src="|/article/file/${file.getStoredFilename()}|" width="220" height="220"/>
        <hr>
    </div>
    <br>
    <div class="row">
        <div th:if="${session.memberId == article.member.id}" class="col-lg-2">
            <button class="btn btn-primary float-end text-dark"
                    th:onclick="|location.href='@{/article/update/{articleId}(articleId=${article.id})}'|">수정</button>
        </div>
        <div th:if="${session.memberId == article.member.id}" class="col-lg-2">
            <form th:action="@{/article/delete/{articleId}(articleId=${article.id})}" method="post">
                <button class="btn btn-primary float-end text-dark" th:onclick="" type="submit"/>삭제
            </form>
        </div>
    </div>
    <br>

    <form th:action="@{/article/like/{articleId}(articleId=${article.id})}" method="post">
        <button class="btn btn-primary float-end text-dark"
                th:text="|좋아요 ♥ ${article.likeCount}|" type="submit"></button>
    </form>

    <p th:text="|작성일:${#temporals.format(article.createdDate, 'yyyy-MM-dd HH:mm')}|"></p>
    <div>
        <h4>댓글</h4>
        <hr style="border: 2px solid black;">
        <div th:each="reply : ${article.replies}">
            <p th:text="|작성자:*{reply.member.nickname}|" />
            <p th:if="${reply.parent == null}" th:text="*{reply.body}" />
            <p th:if="${reply.parent != null}" th:text="|&nbsp;&nbsp;&nbsp;&nbsp;*{reply.body}|" />
            <form th:action="@{/article/addReply(articleId=${article.id},replyId=${reply.id})}"
                  th:object="${replyForm}" method="post">
                <div class="field-error" th:errors="*{body}" style="font-size: 15px;"></div>
                <button class="btn btn-primary float-end" type="submit">작성</button>
            </form>
            <hr>
        </div>
        <form th:action="@{/article/addReply(articleId=${article.id},replyId=${reply.id})}"
              th:object="${replyForm}" method="post">
            <input type="text" class="form-control" th:placeholder="|답글을 남겨보세요.|">
            <div class="field-error" th:errors="*{body}" style="font-size: 15px;"></div>
            <button class="btn btn-primary float-end" type="submit">작성</button>
        </form>
    </div>
    <div th:if="${session.memberId != null}">
        <form th:action="@{/article/addReply(articleId=${article.id})}" th:object="${replyForm}" method="post">
            <div>
                <input type="text" id="replyBody" th:field="*{body}" class="form-control"
                       th:errorclass="field-error" placeholder="댓글을 남겨보세요.">
                <div class="field-error" th:errors="*{body}" style="font-size: 15px;"></div>
                <button class="btn btn-primary float-end" type="submit">작성</button>
            </div>
        </form>
    </div>
    <br>
    <div class="g-lg-4">
        <button class="btn btn-primary float-end"
                th:onclick="|location.href='@{/}'|">목록으로</button>
    </div>
</div> <!-- /container -->
</body>
</html>
