<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container{
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container-md">
    <div class="py-5 text-center">
        <h2>게시물 목록</h2>
        <form th:action="@{/member/logout}" method="post">
            <button class="btn btn-secondary"
                    onclick="location.href='home.html'" type="submit">
                로그아웃
            </button>
        </form>
    </div>
    <div>
        <h4 th:text="|${member?.nickname}님 환영합니다.|"></h4>
        <br>

        <p>
        <form action="/article/articles">
            <fieldset>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="select01">Options</label>
                    <select class="form-select" id="select01" name="selection">검색 분류
                        <option th:each=" sel : ${selection}" th:text="${sel.getDescription()}" th:value="${sel.getField()}"/>
                    </select> <!-- select 태그 안에 옵션 값 존재 -->
                    <input type="text" name="searchValue" placeholder="검색어를 입력해주세요">
                    <input type="submit" value="검색">
                </div>
            </fieldset>
        </form>
        </p>

    </div>
    <!-- 가입인사, 자유게시판 -->
    <div class="row">
        <div class="col">
            <p class="fw-normal">[가입 인사 게시판]
                <a href="" th:href="@{/article/articles(category=${'GREET'})}">▶더보기</a></p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr> <!-- 가로줄 하나 -->
                </thead>
                <tbody>
                <tr th:each="article : ${articles}">
                    <div th:if="${article.articleCategory.name() eq 'GREET'}">
                        <td th:text="${article.articleId}"></td>
                        <td><a href="hello.html" th:href="@{/article/detail(articleId=${article.articleId})}"
                               th:text="|${article.title}[${article.replyCount}]|">title</a></td>
                        <td th:text="${article.nickname}"></td>
                        <td th:text="|${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}|"></td>
                        <td th:text="${article.hit}"></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col">
            <p class="fw-normal">[자유 게시판]
                <a href="" th:href="@{/article/articles(category=${'FREE'})}">▶더보기</a></p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr> <!-- 가로줄 하나 -->
                </thead>
                <tbody>
                <tr th:each="article : ${articles}">
                    <div th:if="${article.articleCategory.name() eq 'FREE'}">
                        <td th:text="${article.articleId}"></td>
                        <td><a href="hello.html" th:href="@{/article/detail(articleId=${article.articleId})}"
                               th:text="|${article.title}[${article.replyCount}]|">title</a></td>
                        <td th:text="${article.nickname}"></td>
                        <td th:text="|${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}|"></td>
                        <td th:text="${article.hit}"></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 장터 게시판, 토론 게시판 -->
    <div class="row">
        <div class="col">
            <p class="fw-normal">[장터 게시판]
                <a href="" th:href="@{/article/articles(category=${'MARKET'})}">▶더보기</a></p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr> <!-- 가로줄 하나 -->
                </thead>
                <tbody>
                <tr th:each="article : ${articles}">
                    <div th:if="${article.articleCategory.name() eq 'MARKET'}">
                        <td th:text="${article.articleId}"></td>
                        <td><a href="hello.html" th:href="@{/article/detail(articleId=${article.articleId})}"
                               th:text="|${article.title}[${article.replyCount}]|" style="font-size: 15px">title</a></td>
                        <td th:text="${article.nickname}"></td>
                        <td th:text="|${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}|"></td>
                        <td th:text="${article.hit}"></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col">
            <p class="fw-normal">[토론 게시판]
                <a href="" th:href="@{/article/articles(category=${'DEBATE'})}">▶더보기</a></p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr> <!-- 가로줄 하나 -->
                </thead>
                <tbody>
                <tr th:each="article : ${articles}">
                    <div th:if="${article.articleCategory.name() eq 'DEBATE'}">
                        <td th:text="${article.articleId}"></td>
                        <td><a href="hello.html" th:href="@{/article/detail(articleId=${article.articleId})}"
                               th:text="|${article.title}[${article.replyCount}]|">title</a></td>
                        <td th:text="${article.nickname}"></td>
                        <td th:text="|${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}|"></td>
                        <td th:text="${article.hit}"></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br> <hr>
    <button class="btn btn-primary float-end" th:onclick="|location.href='@{/article/create}'|">
        게시물 등록
    </button>
</div> <!-- /container -->
</body>
</html>
